<template>
    <div class="gr-card cursor-pointer" @click="redirectToGame">
        <div class="flex justify-center flex-col max-h-64 h-64 gr-card-image-background">
            <img class="mx-auto gr-inherit-height" :src="image" alt="Sunset in the mountains">
        </div>
        <div class="gr-card-section">
            <div class="font-bold text-xl mb-2 text-line-height-setup text-line-height-1">{{ title }}</div>
            <p class="text-grey-darker text-line-height-setup text-line-height-2 text-base">
                {{ description }}
            </p>
        </div>
    </div>
</template>

<script>
    import routes from "../../constants/routes";

    export default {
        name: "CardMedium",

        props: {
            title: {
                required: true,
                type: String
            },
            description: {
                type: String,
                default: ''
            },
            image: {
                required: true,
                type: String
            },
            slug: {
                required: true,
                type: String
            }
        },

        methods: {
            redirectToGame() {
                location.href = routes.SINGLE_GAME.replace('{slug}', this.slug);
            }
        }
    }
</script>

<style scoped>

</style>
