<template>
    <div class="flex flex-row gr-card cursor-pointer" @click="redirectToGame">
        <div class="h-96 max-h-96 flex items-center gr-card-image-background">
            <img class="max-w-sm" :src="image" alt="Game Image">
        </div>
        <div class="flex flex-col justify-center">
            <div class="gr-card-section">
                <div class="font-bold text-xl mb-2">{{ title }}</div>
                <p class="gr-card-description text-line-height-setup text-line-height-2">
                    {{ description }}
                </p>
            </div>
        </div>
    </div>
</template>

<script>
    import routes from "../../constants/routes";

    export default {
        name: "CardBig",

        props: {
            title: {
                required: true,
                type: String
            },
            description: {
                required: true,
                type: String
            },
            image: {
                required: true,
                type: String
            },
            slug: {
                required: true,
                type: String
            }
        },

        methods: {
            redirectToGame() {
                location.href = routes.SINGLE_GAME.replace('{slug}', this.slug);
            }
        }
    }
</script>

<style scoped>

</style>
