<template>
    <div class="gr-card cursor-pointer" @click="redirectToGame">
        <div class="flex justify-center h-32 max-h-32 gr-card-image-background">
            <img class="gr-inherit-height" :src="image" alt="Sunset in the mountains">
        </div>
        <div class="gr-card-section">
            <div class="font-bold text-lg mb-2 text-line-height-setup text-line-height-1">{{ title }}</div>
        </div>
    </div>
</template>

<script>
    import routes from "../../constants/routes";

    export default {
        name: "CardSmall",

        props: {
            title: {
                required: true,
                type: String
            },
            image: {
                required: true,
                type: String
            },
            slug: {
                required: true,
                type: String
            }
        },

        methods: {
            redirectToGame() {
                location.href = routes.SINGLE_GAME.replace('{slug}', this.slug);
            }
        }
    }
</script>

<style scoped>

</style>
