<template>
    <li v-if="visible" :class="className">
        <label class="font-medium" v-html="label + ':'"></label>
        <span v-html="value"></span>
    </li>
</template>

<script>
    export default {
        name: "LabeledListItem",

        props: {
            visible: {
                type: Boolean,
                default: true
            },
            label: {
                type: String,
                default: ''
            },
            value: {
                type: String,
                default: ''
            },
            className: {
                type: String,
                default: ''
            }
        }
    }
</script>

<style scoped>

</style>
