<template>
    <ul :class="listClass">
        <gr-labeled-list-item v-for="(item, index) in items" :key="index"
                              :label="item.label"
                              :value="item.value"
                              :visible="item.visible"
                              :class-name="typeof item.className !== 'undefined' ? item.className : ''"
        ></gr-labeled-list-item>
    </ul>
</template>

<script>
    import LabeledListItem from "./LabeledListItem";

    export default {
        name: "LabeledList",

        props: {
            items: {
                type: Array,
                default: () => []
            },
            listClass: {
                type: String,
                default: ''
            }
        },

        components: {
            grLabeledListItem: LabeledListItem
        }
    }
</script>

<style scoped>

</style>
