<template>
    <nav class="gr-nav bg-indigo-500 mb-3">
        <div class="gr-container flex flex-wrap items-center justify-between">
            <div class="gr-nav-logo">
                <a class="gr-nav-logo-text" href="/">
                    <font-awesome-icon icon="gamepad" class="fa-2x mr-2" /> <span>Game Review</span>
                </a>
                <button class="gr-nav-bars" type="button" v-on:click="toggleNavbar()">
                    <font-awesome-icon icon="bars" />
                </button>
            </div>
            <div :class="{'hidden': !showMenu, 'flex': showMenu}" class="lg:flex lg:flex-grow items-center">
                <ul class="gr-nav-ul lg:flex items-center">
                    <li class="nav-item" v-for="item in navbarItems">
                        <a class="gr-nav-ul-item gr-nav-text" :href=item.url >
                            <span class="ml-2">{{ item.title }}</span>
                        </a>
                    </li>
                    <li class="nav-item gr-nav-ul-item ml-2">
                        <navbar-search></navbar-search>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</template>

<script>
    import { navbarItems } from "../../constants/navbar";
    import NavbarSearch from "./NavbarSearch";

    export default {
        data() {
            return {
                showMenu: false,
                navbarItems: navbarItems
            }
        },

        methods: {
            toggleNavbar: function(){
                this.showMenu = !this.showMenu;
            }
        },

        components: {
            navbarSearch: NavbarSearch
        }
    }
</script>
