<template>
    <div>
        <input type="search" @keyup.enter="search($event)" class="border-2 border-gray-300 bg-white w-56 h-10 pl-2 pr-2 rounded-lg text-sm focus:outline-none" placeholder="search" />
        <div class="absolute bg-white mt-1 w-56 p-3 bg-gray-200 border border-indigo-500" v-show="searchActive">
            <span class="float-right text-lg cursor-pointer text-indigo-500" @click="closeSearch">x</span>
            <card-small v-for="item in searchItems" v-if="searchItems.length > 0"
                        :key="item.id"
                        :title="item.name"
                        :image = "item.game.cover_image_url"
                        :slug="item.game.slug"
            ></card-small>
            <div v-if="searchItems.length === 0" >
                <p>No results found...</p>
            </div>
        </div>
    </div>
</template>

<script>
    import CardSmall from "./CardSmall";
    import routes from "../../constants/routes";
    import axios from "axios";

    export default {
        name: "Search",

        data() {
            return {
                searchItems: [],
                searchActive: false
            }
        },

        methods: {
            search(event) {
                if (!event.target.value || event.target.value === "") {
                    this.searchItems = [];
                    return;
                }

                let that = this;
                let searchUrl = routes.SEARCH_GAMES_GET.replace('{searchString}', event.target.value);

                axios.get(searchUrl).then(response => {
                    if (response.data.success) {
                        that.searchItems = response.data.games;
                        this.searchActive = true;
                    }
                })
            },

            closeSearch() {
                this.searchActive = false;
            }
        },

        components: {
            cardSmall: CardSmall
        }
    }
</script>

<style scoped>

</style>
