<template>
    <div class="aspect-w-16 aspect-h-9">
        <iframe id="ytplayer"
                type="text/html"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
                :src="trailer"
        ></iframe>
    </div>
</template>

<script>
    export default {
        name: "YoutubeVideo",

        props: {
            trailer: {
                type: String,
                required: true
            }
        }
    }
</script>

<style scoped>

</style>
