<template>
    <div>
        <navbar></navbar>

        <div class="gr-container mt-10" v-if="getScreenshots && getScreenshots.length > 0">
            <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-5">
                <img v-for="screenshot in getScreenshots"
                     :src="screenshot.big"

                     class="max-w-full"
                />
            </div>
        </div>

        <div class="gr-container mt-10">
            <div class="grid grid-cols-1">
                <single-game-card></single-game-card>
            </div>
        </div>

        <div class="gr-container mt-10" v-if="getTrailer">
            <div class="grid grid-cols-1">
                <youtube-video
                    :trailer="getTrailer"
                ></youtube-video>
            </div>
        </div>

        <div class="gr-container mt-10" v-if="getSimilarGames && getSimilarGames.length > 0">
            <div class="grid grid-cols-1">
                <h1 class="gr-card-title mb-5">Similar games:</h1>
            </div>
        </div>
        <div class="gr-container" v-if="getSimilarGames && getSimilarGames.length > 0">
            <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-10">
                <card-medium v-for="item in getSimilarGames"
                             :key="item.id"
                             :title="item.name"
                             :image = "item.cover_image_url"
                             :slug="item.slug"
                ></card-medium>
            </div>
        </div>
    </div>
</template>

<script>
    import Navbar from "../shared/Navbar";
    import YoutubeVideo from "../shared/YoutubeVideo";
    import CardMedium from "../shared/CardMedium";
    import SingleGameCard from "./SingleGameCard";

    import { SingleGameMixin } from "../../mixins/singleGameMixin";
    import { mapGetters } from "vuex";

    export default {
        name: "SingleGame",

        mixins: [
            SingleGameMixin
        ],

        computed: {
            ...mapGetters('singleGame', [
                'getScreenshots',
                'getTrailer',
                'getSimilarGames'
            ]),
        },

        async mounted() {
            await this.loadGame();
        },

        components: {
            navbar: Navbar,
            youtubeVideo: YoutubeVideo,
            cardMedium: CardMedium,
            singleGameCard: SingleGameCard
        }
    }
</script>

<style scoped>

</style>
