<template>
    <div class="flex flex-row gr-card">
        <div class="h-96 max-h-96 flex items-center gr-card-image-background" v-if="screenSize > 767">
            <img :src="getCoverImage" alt="Game Image">
        </div>
        <div class="flex flex-col justify-center">
            <div class="gr-card-section">
                <div class="font-bold text-xl mb-2">{{ getName }}</div>
                <labeled-list
                    :items="getGameInfo()"
                ></labeled-list>
            </div>
        </div>
    </div>
</template>

<script>
    import LabeledList from "../shared/LabeledList";

    import { mapGetters } from "vuex";

    import { ScreenSizeMixin } from "../../mixins/screenSizeMixin";

    export default {
        computed: {
            ...mapGetters('singleGame', [
                'getName',
                'getCoverImage',
                'getSummary',
                'getFirstReleaseDate',
                'getGenres',
                'getInvolvedCompanies',
                'getPlatforms',
                'getCriticRating',
                'getMemberRating'
            ]),
        },

        methods: {
            getGameInfo() {
                return [
                    {
                        label: 'Description',
                        value: this.getSummary,
                        visible: this.getSummary !== '' || !!this.getSummary
                    },
                    {
                        label: 'Release date',
                        value: this.getFirstReleaseDate,
                        visible: this.getFirstReleaseDate !== '' || !!this.getFirstReleaseDate
                    },
                    {
                        label: 'Genres',
                        value: this.getGenres,
                        visible: this.getGenres !== '' || !!this.getGenres
                    },
                    {
                        label: 'Involved Companies',
                        value: this.getInvolvedCompanies,
                        visible: this.getInvolvedCompanies !== '' || !!this.getInvolvedCompanies
                    },
                    {
                        label: 'Platforms',
                        value: this.getPlatforms,
                        visible: this.getPlatforms !== '' || !!this.getPlatforms
                    },
                    {
                        label: 'Member Rating',
                        value: this.getMemberRating,
                        visible: this.getMemberRating !== '' || !!this.getMemberRating
                    },
                    {
                        label: 'Critic Rating',
                        value: this.getCriticRating,
                        visible: this.getCriticRating !== '' || !!this.getCriticRating
                    }
                ]
            }
        },

        mixins: [
            ScreenSizeMixin
        ],

        components: {
            labeledList: LabeledList
        }
    }
</script>

<style scoped>

</style>
