@layer components {
    .gr-card {
        @apply w-full rounded overflow-hidden shadow-lg my-2 bg-white;
    }

    .gr-card-section {
        @apply px-6 py-4;
    }

    .gr-card-description {
        @apply text-base;
    }

    .gr-card-tag {
        @apply inline-block rounded-full px-3 py-1 text-sm font-semibold;
    }

    .gr-inherit-height {
        max-height: inherit;
    }

    .gr-card-image-background {
        @apply bg-gray-800;
    }

    .text-line-height-setup {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -o-text-overflow: ellipsis;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .text-line-height-1 {
        -webkit-line-clamp: 1;
    }

    .text-line-height-2 {
        -webkit-line-clamp: 2;
    }
}
