@layer components {
    .gr-nav {
        @apply relative flex flex-wrap items-center justify-between py-3;
    }

    .gr-nav-logo {
        @apply w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start;
    }

    .gr-nav-logo-text {
        @apply flex items-center text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase text-white;
    }

    .gr-nav-bars {
        @apply text-white cursor-pointer text-xl leading-none py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none;
    }

    .gr-nav-ul {
        @apply flex flex-col lg:flex-row list-none ml-auto;
    }

    .gr-nav-ul-item {
        @apply pl-6 py-2 flex items-center;
    }
}
