<template>
    <div class="gr-container mt-10 flex gap-10">
        <div class="w-10/12 sm:w-12/12">
            <div class="grid grid-cols-1">
                <h1 class="gr-card-title mb-5">Recently Reviewed:</h1>
            </div>
            <div class="grid grid-cols-1 gap-10">
                <card-big v-for="item in getRecentlyReviewedGames"
                          :key="item.id"
                          :title="item.name"
                          :description="item.summary"
                          :image = "item.cover_image_url"
                          :slug="item.slug"
                ></card-big>
            </div>
        </div>
        <div class="w-2/12 content-start">
            <div class="grid grid-cols-1">
                <h1 class="gr-card-title mb-5">Soon:</h1>
            </div>
            <div class="grid grid-cols-1 gap-10">
                <card-small v-for="item in getComingSoonGames"
                            :key="item.id"
                            :title="item.name"
                            :image = "item.cover_image_url"
                            :slug="item.slug"
                ></card-small>
            </div>
        </div>
    </div>
</template>

<script>
    import CardBig from "../shared/CardBig";
    import CardSmall from "../shared/CardSmall";

    import { mapGetters } from "vuex";

    export default {
        computed: {
            ...mapGetters('home', [
                'getComingSoonGames',
                'getRecentlyReviewedGames'
            ])
        },
        components: {
            cardBig: CardBig,
            cardSmall: CardSmall
        }
    }
</script>

<style scoped>

</style>
