<template>
    <div>
        <navbar></navbar>
        <div class="gr-container mt-10">
            <div class="grid grid-cols-1">
                <h1 class="gr-card-title mb-5">Popular:</h1>
            </div>
        </div>
        <div class="gr-container">
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-10">
                <card-medium v-for="item in getPopularGames"
                             :key="item.id"
                             :title="item.name"
                             :description="item.summary"
                             :image = "item.cover_image_url"
                             :slug="item.slug"
                ></card-medium>
            </div>
        </div>
        <div v-if="screenSize > 767">
            <desktop-recently-soon-games
                :key="1"
            ></desktop-recently-soon-games>
        </div>
        <div v-else>
            <mobile-recently-soon-games
                :key="2"
            ></mobile-recently-soon-games>
        </div>
    </div>
</template>

<script>
    import Navbar from "../shared/Navbar";
    import CardMedium from "../shared/CardMedium";
    import DesktopRecentlySoon from "./DesktopRecentlySoon";
    import MobileRecentlySoon from "./MobileRecentlySoon";

    import { mapGetters } from "vuex";

    import { PopularGamesMixin } from "../../mixins/popularGamesMixin";
    import { ComingSoonGames } from "../../mixins/comingSoonGamesMixin";
    import { RecentlyReviewedGames } from "../../mixins/recentlyReviewedGamesMixin";
    import { ScreenSizeMixin } from "../../mixins/screenSizeMixin";

    export default {
        mixins: [
            PopularGamesMixin,
            ComingSoonGames,
            RecentlyReviewedGames,
            ScreenSizeMixin
        ],

        computed: {
            ...mapGetters('home', [
                'getPopularGames',
                'getComingSoonGames',
                'getRecentlyReviewedGames'
            ])
        },

        async mounted() {
            await this.loadPopularGames();
            await this.loadComingSoonGames();
            await this.loadRecentlyReviewedGames();
        },

        components: {
            navbar: Navbar,
            cardMedium: CardMedium,
            desktopRecentlySoonGames: DesktopRecentlySoon,
            mobileRecentlySoonGames: MobileRecentlySoon
        }
    }
</script>
