<template>
    <div>
        <div class="gr-container mt-10">
            <div class="grid grid-cols-1">
                <h1 class="gr-card-title mb-5">Recently Reviewed:</h1>
            </div>
        </div>
        <div class="gr-container">
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-10">
                <card-medium v-for="item in getRecentlyReviewedGames"
                             :key="item.id"
                             :title="item.name"
                             :description="item.summary"
                             :image = "item.cover_image_url"
                             :slug="item.slug"
                ></card-medium>
            </div>
        </div>
        <div class="gr-container mt-10">
            <div class="grid grid-cols-1">
                <h1 class="gr-card-title mb-5">Soon:</h1>
            </div>
        </div>
        <div class="gr-container">
            <div class="grid grid-cols-2 gap-10">
                <card-small v-for="item in getComingSoonGames"
                            :key="item.id"
                            :title="item.name"
                            :image = "item.cover_image_url"
                            :slug="item.slug"
                ></card-small>
            </div>
        </div>
    </div>
</template>

<script>
    import CardMedium from "../shared/CardMedium";
    import CardSmall from "../shared/CardSmall";

    import { mapGetters } from "vuex";

    export default {
        computed: {
            ...mapGetters('home', [
                'getComingSoonGames',
                'getRecentlyReviewedGames'
            ]),

            screenIsLessThan767() {
                return screen.width <= 767;
            }
        },

        components: {
            cardMedium: CardMedium,
            cardSmall: CardSmall
        }
    }
</script>

<style scoped>

</style>
