@layer components {
    .gr-card-title {
        @apply text-3xl md:text-4xl font-medium;
    }

    .gr-nav-text {
        @apply text-xs uppercase font-bold leading-snug text-white hover:opacity-75;
    }
}
